.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1200px;
} 
div,li,h1{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-weight: 800;
}
.col-md-6{
  margin-top: 90px;
}
.vl {
  border-left: 3px solid green;
  height: 1000px;
}